body {
  background-color: rgb(26, 25, 25);
  font-family: Verdana, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: gray;
}

a:hover {
  color: gray;
  text-decoration: underline;
}

p {
  color: white;
}

h1 {
  color: white;
}

img {
  size-adjust: 1100;
}